# Supabase Configuration
VITE_SUPABASE_URL=https://qpccdmzczlsuzxzktuxk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFwY2NkbXpjemxzdXp4emt0dXhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyNjU3NjMsImV4cCI6MjA5NDg0MTc2M30._lECmQ8B_LMLP029V09NEB9W0hGDg_0N5PXAkoJwknE
